<body class="body" *ngIf="!mostrarOpciones && !iniciarSesion">
    <header>
        <nav class="navbar bg-light">
            <div>
                <img src="assets/img/Logo.jpg" alt="Logo Carpooling" class="logo">

            </div>

            <div>
                <button (click)="redirigirAIniciarSesion()" class="btn btn-success">Iniciar Sesión</button>
                <button (click)="redirigirAOpciones()" class="btn btn-success">Registrarse</button>
            </div>

        </nav>
    </header>
    <section>
        <div class="portada">
            <div class="row">
                <div class="texPortada">
                    <h1 class="title">Carpooling<br>UCO</h1>
                    <p>Es una aplicación web que <br> permite comunicar <br> conductores con pasajeros
                        y <br> brindar mayor accesibilidad a <br> las rutas de interes para el usuario</p>


                </div>
                <div class="imgPortada">
                    <img src="assets/img/pagina1.gif" alt="" class="imgPortada">
                </div>
            </div>
        </div>
    </section>
</body>

<app-option *ngIf="mostrarOpciones" (emitirOpciones)="regresarDeOpciones()"></app-option>
<app-login *ngIf="iniciarSesion" (emitirIniciarSesion)="regresarDeInicioSesion()"></app-login>