<body class="Fondo" *ngIf="!registroPasajero && !registroConductor">
    <header>
        <nav class="navbar bg-light">
            <div>
                <img src="assets/img/Logo.jpg" alt="Logo Carpooling" class="logo">
            </div>

            <div class="">
                <button class="btn btn-success" (click)=" volver()">Regresar</button>
            </div>

        </nav>
    </header>
    <section>
        <h1 class="opcion">¿Que quieres ser?</h1>
        <div class="container1">
            <div class="card">
                <i class="fa-solid fa-car"></i>
                <a (click)="redirigirARegistroConductor()">Conductor</a>
            </div>

            <div class="card">
                <i class="fa-solid fa-person-walking-luggage"></i>
                <a (click)=" redirigirARegistroPasajero()">Pasajero</a>
            </div>
        </div>
    </section>
</body>

<app-driver-form *ngIf="registroConductor" (emitirConductor)="regresarDeRegistroConductor()"></app-driver-form>
<app-passenger-form *ngIf="registroPasajero" (emitirPasajero)="regresarDeRegistroPasajero()"></app-passenger-form>