<body class="Fondo">
    <section>
        <div class="container">
            <img src="assets/img/Logo.jpg" alt="" class="check">
        </div>

        <form [formGroup]="formularioRegistro">
            <h1 class="registrarse">Registrarse</h1>

            <div *ngIf="mostrarMensaje" class="alert alert-danger">
                <a href="#" class="alert-link">{{mensaje}}</a>
            </div>
            <input class="controls" type="text" name="primerNombre" placeholder="Primer Nombre" formControlName="primerNombre">
            <div *ngIf="formularioRegistro.controls['primerNombre'].invalid && formularioRegistro.controls['primerNombre'].touched">
                Este campo es obligatorio.
            </div>
            <input class="controls" type="text" name="segundoNombre" placeholder="Segundo Nombre" formControlName="segundoNombre">
           
            <input class="controls" type="text" name="primerApellido" placeholder="Primer Apellido" formControlName="primerApellido">
            <div
                *ngIf="formularioRegistro.controls['primerApellido'].invalid && formularioRegistro.controls['primerApellido'].touched">
                Este campo es obligatorio.
            </div>
            <input class="controls" type="text" name="segundoApellido" placeholder="Segundo Apellido" formControlName="segundoApellido">
            
            <input class="controls" type="text" name="identificacion" placeholder="Numero Identificacion"
                formControlName="identificacion">
            <div
                *ngIf="formularioRegistro.controls['identificacion'].invalid && formularioRegistro.controls['identificacion'].touched">
                Este campo es obligatorio.
            </div>
            <input class="controls" type="text" name="correo" placeholder="Correo Electronico" formControlName="correo">
            <div *ngIf="formularioRegistro.controls['correo'].invalid && formularioRegistro.controls['correo'].touched">
                Este campo es obligatorio.
            </div>
            <input class="controls" type="password" name="clave" placeholder="Contraseña" formControlName="clave">
            <div *ngIf="formularioRegistro.controls['clave'].invalid && formularioRegistro.controls['clave'].touched">
                Este campo es obligatorio.
            </div>
            <input class="controls" type="text" name="telefono" placeholder="Telefono" formControlName="telefono">
            <div *ngIf="formularioRegistro.controls['telefono'].invalid && formularioRegistro.controls['telefono'].touched">
                Este campo es obligatorio.
            </div>
            <button (click)="registrarse()" class="boton btn btn-success">Registrarse</button>
            <button class="boton btn btn-success"(click)=" volver()">Regresar</button>
        </form>

    </section>

</body>